<form
  class="sign-up-form"
  [formGroup]="signUpForm"
  (ngSubmit)="onSubmit()"
>
  <!-- First Name -->
  <section class="sign-up-form__section">
    <label class="sign-up-form__row">
      <span class="sign-up-form__title">First name*</span>
      <input class="sign-up-form__control" type="text" formControlName="firstName">
    </label>
    <p
      *ngIf="signUpForm.controls['firstName'].touched && signUpForm.controls['firstName'].hasError('required')"
      class="sign-up-form__error"
    >
      First name field is required
    </p>
  </section>

  <!-- Last Name -->
  <section class="sign-up-form__section">
    <label class="sign-up-form__row">
      <span class="sign-up-form__title">Last name*</span>
      <input class="sign-up-form__control" type="text" formControlName="lastName">
    </label>
    <p
      *ngIf="signUpForm.controls['lastName'].touched && signUpForm.controls['lastName'].hasError('required')"
      class="sign-up-form__error"
    >
      Last name field is required
    </p>
  </section>

  <!-- E-mail -->
  <section class="sign-up-form__section">
    <label class="sign-up-form__row">
      <span class="sign-up-form__title">E-mail*</span>
      <input class="sign-up-form__control" type="email" formControlName="email">
    </label>
    <p
      *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].hasError('required')"
      class="sign-up-form__error"
    >
      E-mail field is required
    </p>
    <p
      *ngIf="signUpForm.controls['email'].hasError('invalidEmail')"
      class="sign-up-form__error"
    >
      E-mail is incorrect
    </p>
  </section>

  <!-- Password -->
  <section class="sign-up-form__section">
    <label class="sign-up-form__row">
      <span class="sign-up-form__title">Password*</span>
      <input class="sign-up-form__control" type="text" formControlName="password">
    </label>
    <p
      *ngIf="
        signUpForm.controls['password'].touched &&
        signUpForm.controls['password'].hasError('required')
      "
      class="sign-up-form__error"
    >
      Password field is required
    </p>
    <p
      *ngIf="
        signUpForm.controls['password'].hasError('minlength') &&
        !signUpForm.controls['password'].hasError('required')
      "
      class="sign-up-form__error"
    >
      Password field should contain minimum 8 characters
    </p>
    <p
      *ngIf="signUpForm.controls['password'].hasError('invalidLettersCase')"
      class="sign-up-form__error"
    >
      Password field should contain lower and uppercase letters
    </p>
    <p
      *ngIf="signUpForm.controls['password'].hasError('nameInPassword')"
      class="sign-up-form__error"
    >
      Password field should not contain user’s first or last name
    </p>
  </section>

  <div class="sign-up-form__actions">
    <button class="btn btn_success" type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
    <button class="btn btn_default" type="button" (click)="signUpForm.reset()">Reset</button>
  </div>
</form>
