@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
}

.btn {
  display: inline-block;
  background: none;
  padding: 10px;
  height: 50px;
  min-width: 200px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: black;
  transition: background-color 0.1s ease;

  &_success {
    color: #fff;
    background-color: #21AB21FF;

    &:hover {
      background-color: green;
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: #21AB21FF;
      opacity: 0.7;

      &:hover {
        background-color: #21AB21FF;
      }
    }
  }

  &_default {
    background-color: #949292;
    color: #fff;

    &:hover {
      background-color: #332e2e;
    }
  }
}
